<div aria-hidden="true" class="modal fade" id="addAppointModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Appointment</h1>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form #addAppointmentForm="ngForm" (ngSubmit)="onSubmit(addAppointmentForm)">
          <div class="mb-3">
            <label class="form-label" for="time">Time</label>
            <input class="form-control" id="time" type="time">
          </div>
          <div class="mb-3">
            <label class="form-label" for="date">Date</label>
            <input class="form-control" id="date" type="date">
          </div>
          <div class="mb-3">
            <label class="form-label" for="patient">Patient</label>
            <select class="form-select" id="patient">
              <option *ngFor="let patient of patients$; let i = index" [ngValue]="patient"
                      [selected]="i">{{patient.firstName}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            <button [disabled]="!addAppointmentForm.valid" class="btn btn-primary" data-bs-dismiss="modal"
                    type="submit">
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
