<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3" routerLink="/">
      E-Healthcare Management System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex gap-5 align-items-center">
      <a class="btn btn-primary px-5 fs-4 fw-bold" routerLink="/login" routerLinkActive="active"
         ariaCurrentWhenActive="page" type="button">
        Login
      </a>
    </div>
  </div>
</nav>
