<div class="d-flex p-5">
  <!--Patient Info Section-->
  <div class="shadow bg-body rounded p-5">
    <!--Patient Details-->
    <div>
      <p class="fs-3 fw-semibold">Patient Details</p>
      <form>
        <div class="mb-3">
          <label class="form-label" for="firstName">First Name</label>
          <input class="form-control" disabled id="firstName" type="text" value="{{patient.firstName}}" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="lastName">Last Name</label>
          <input class="form-control" disabled id="lastName" type="text" value="{{patient.lastName}}" />
        </div>
      </form>
    </div>
    <!--Patient Vitals-->
    <div>
      <p class="fs-3 fw-semibold">Patient Vitals</p>
      <div class="row">
        <div class="col-6">
          <!--TODO: Make a component-->
          <fa-icon [icon]="icon.icon" [size]="icon.size"></fa-icon>
          <div class="d-flex flex-column">
            <small>Weight</small>
            <span>{{patient.vitals.weight}}</span>
          </div>
        </div>
        <div class="col-6">
          <fa-icon [icon]="icon.icon" [size]="icon.size"></fa-icon>
          <div class="d-flex flex-column">
            <small>Height</small>
            <span>{{patient.vitals.height}}</span>
          </div>
        </div>
        <div class="col-6">
          <fa-icon [icon]="icon.icon" [size]="icon.size"></fa-icon>
          <div class="d-flex flex-column">
            <small>Blood Pressure</small>
            <span>{{patient.vitals.bloodPressure}}</span>
          </div>
        </div>
        <div class="col-6">
          <fa-icon [icon]="icon.icon" [size]="icon.size"></fa-icon>
          <div class="d-flex flex-column">
            <small>Temperature</small>
            <span>{{patient.vitals.temperature}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Patient Diagnosis & Prescription-->
  <div class="d-flex flex-column">
    <!--Patient Diagnosis-->
    <div>

    </div>
    <!--Patient Prescription-->
    <div>

    </div>
  </div>
</div>
