<div class="shadow bg-body rounded p-5 m-5">
  <div class="card">
    <div class="card-title">
      <div aria-label="Toolbar with button groups" class="btn-toolbar justify-content-between py-2 px-2" role="toolbar">
        <div aria-label="First group" class="btn-group" role="group">
          <h3> Prescriptions </h3>
        </div>
        <div class="input-group">
          <button class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" type="button">save
          </button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">view</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button (click)="view('iuewe')" class="btn btn-secondary" type="button">view</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <button (click)="view('iuewe')" class="btn btn-secondary" type="button">view</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>
          <button (click)="view('iuewe')" class="btn btn-secondary" type="button">view</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Prescription</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="prescriptionForm">
          <div class="mb-3">
            <label class="form-label" for="prescritionNumber">Prescription number</label>
            <input class="form-control" formControlName="prescriptionNumber" id="prescritionNumber" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" formControlName="name" id="name" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" formControlName="price" id="price" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="type">Type</label>
            <input class="form-control" formControlName="type" id="type" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            <button (click)="onsubmit()" class="btn btn-primary" type="button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
