<div class="shadow bg-body rounded p-5 m-5">
  <div class="d-flex justify-content-between">
    <p class="fs-3 fw-semibold">Roles</p>
    <div>
      <button class="btn btn-success px-4 mx-3" data-bs-target="#addRoleModal" data-bs-toggle="modal">Add</button>
    </div>
  </div>
  <table class="table table-borderless table-sm">
    <thead>
    <tr>
      <th scope="col">
        <input class="form-check-input" id="selectAllCheckbox" type="checkbox" value="">
      </th>
      <th scope="col">#</th>
      <th scope="col">Role</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles">
      <div>
        <input class="form-check-input" id="selectCheckbox" type="checkbox" value="">
      </div>
      <th scope="row">{{role.id}}</th>
      <td>{{role.name}}</td>
      <td>{{role.description}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Add Role Modal -->
<app-roles-add-modal></app-roles-add-modal>
