<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Information</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit">Add Employee</button>
      </div>
    </div>
  </nav>



  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of empList">
      <td>{{employee.id}}</td>
      <td>{{employee.firstname}}</td>
      <td>{{employee.lastname}}</td>
      <td>{{employee.roleId}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee" (click)="editEmployee(employee)">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee)">Delete</button>
      </td>

    </tr>

    </tbody>
  </table>


  <!-- Add employee modal -->
  <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="employeeModalLabel">Add new Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="empDetail">
            <div class="mb-3">
              <label for="Name" class="form-label">First Name </label>
              <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Lastname" class="form-label">Last Name </label>
              <input type="text" formControlName="lastname" class="form-control" id="lastname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Role" class="form-label">Role </label>
              <input type="text" formControlName="role" class="form-control" id="role" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">Email </label>
              <input type="text" formControlName="role" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password </label>
              <input type="text" formControlName="role" class="form-control" id="password" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="PhoneNumber" class="form-label">Phone Number </label>
              <input type="text" formControlName="role" class="form-control" id="phonenumber" aria-describedby="emailHelp">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Add employee</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>


  <!-- Edit employee modal -->
  <div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="empDetail">
            <div class="mb-3">
              <label for="Name" class="form-label">First Name </label>
              <input type="text" formControlName="name" class="form-control" id="firstname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Lastname" class="form-label">Last Name </label>
              <input type="text" formControlName="lastname" class="form-control" id="lname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Role" class="form-label">Role </label>
              <input type="text" formControlName="role" class="form-control" id="roleId" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="Email" class="form-label">Email </label>
              <input type="text" formControlName="role" class="form-control" id="mail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password </label>
              <input type="text" formControlName="role" class="form-control" id="pass" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="PhoneNumber" class="form-label">Phone Number </label>
              <input type="text" formControlName="role" class="form-control" id="number" aria-describedby="emailHelp">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="updateEmployee()" data-bs-dismiss="modal">Update </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>
