<div aria-hidden="true" class="modal fade" id="addPatientModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Patient</h1>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPatientForm" class="row g-3">
          <div class="col-md-12">
            <label class="form-label" for="firstName">First Name</label>
            <input class="form-control" formControlName="firstName" id="firstName" type="text">
          </div>
          <div class="col-md-12">
            <label class="form-label" for="lastName">Last Name</label>
            <input class="form-control" formControlName="lastName" id="lastName" type="text">
          </div>
          <div class="row" formGroupName="vitals">
            <h5 class="pt-2">Vitals</h5>
            <div class="col-md-6">
              <label class="form-label" for="weight">Weight</label>
              <input class="form-control" formControlName="weight" id="weight" type="text">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="height">Height</label>
              <input class="form-control" formControlName="height" id="height" type="text">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="bloodPressure">Blood Pressure</label>
              <input class="form-control" formControlName="bloodPressure" id="bloodPressure" type="text">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="temperature">Temperature</label>
              <input class="form-control" formControlName="temperature" id="temperature" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            <button [disabled]="!addPatientForm.valid" class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
