<div class="modal fade" id="addPatientModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--TODO: formGroup and ngSubmit (look at the .ts as well)-->
        <form [formGroup]="addPatientForm" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-md-12">
            <label for="firstName" class="form-label">First Name</label>
            <!--TODO: formControlName-->
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
          <div class="col-md-12">
            <label for="lastName" class="form-label">Last Name</label>
            <!--TODO: formControlName-->
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
          <!--TODO: formGroupName only if nested fields-->
          <div formGroupName="vitals" class="row">
            <h5 class="pt-2">Vitals</h5>
            <div class="col-md-6">
              <label for="weight" class="form-label">Weight</label>
              <!--TODO: formControlName-->
              <input type="text" class="form-control" id="weight" formControlName="weight">
            </div>
            <div class="col-md-6">
              <label for="height" class="form-label">Height</label>
              <!--TODO: formControlName-->
              <input type="text" class="form-control" id="height" formControlName="height">
            </div>
            <div class="col-md-6">
              <label for="bloodPressure" class="form-label">Blood Pressure</label>
              <!--TODO: formControlName-->
              <input type="text" class="form-control" id="bloodPressure" formControlName="bloodPressure">
            </div>
            <div class="col-md-6">
              <label for="temperature" class="form-label">Temperature</label>
              <!--TODO: formControlName-->
              <input type="text" class="form-control" id="temperature" formControlName="temperature">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!addPatientForm.valid">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
